<!DOCTYPE html>
<html>
  <head>
    <title>NWT Besucherzähler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="banner">NWT Besucherzähler</h1>

    <p class="besucherAktuell">Besucher aktuell 
      <span id="momentan" class="besucherWert"><%= momentan%></span></p>
    <p class="besucherInsgesamt">Besucher heute 
       <span id="heute" class="heute">(<%= heute%>)</span>
       <span id="besucher" class="besucherWert"><%= besucher%></span></p>
     
    <p><span id="ioStatus" class="disconnected">initialisiere ...</span></p>
    

    <p class="heute"> </p>
    <p class="watermark">DaVaVi&#169; - 2023</p>

    <!-- <button id="my-button" class="button button1">+ Besucher</button>
    <button class="button button1">+ Ausgetreten</button> -->

    <img id="object1" src="/images/lmg.png" alt="LMG Logo">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>

  
  </body>
</html>
