<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/lmg.png" alt="LMG Logo">
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="besucherZahl">Anzahl der Besucher: <%= besucher%></p>
  </body>
</html>
