body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.besucherZahl {
  font-size: larger;
  color: #ff00f2;
}
body {background-color: rgb(0, 255, 213);}
