body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.banner {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 20px black;

    margin: auto;
    background: rgb(255, 81, 0);
    background: linear-gradient(25deg, rgb(153,0,255) 0%, rgb(253,29,29) 50%, rgb(255,174,60) 100%);

    padding: 50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.besucherZahl {
    padding: 160px 0 0;
    font-weight: 600;
    font-size: 70px;
}

.subText {
    word-spacing: 7px;
    font-family: "Calibri Light", "Courier New", monospace;
    position: relative;
    z-index: -1;
    top: -50px;
    font-size: 20px;
}

.watermark {
    background-color: white;
    padding: 20px;

    margin: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    color: #7c7c7c;
}

.button {
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
    height: 55px;
    width: 15%;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button1:hover {
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#object1 {
    position: fixed;

    bottom: 10px;
    right: 10px;
    width: 150px;
}
